.app_path {
  display: flex;

  img {
    cursor: pointer;
  }

  .dropdown {
    .dropdown_content {
      a {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        cursor: pointer;
        font-size: .9em;
        font-weight: bold;
        color: black;
      }
    }
  }

  .go_back {
    button {
      font-size: 1.3em;
      border: none;
      background-color: transparent;
      padding-bottom: 10px;
      cursor: pointer;
    }
  }
}