.add_button {
  position: fixed;
  z-index: 1;
  bottom: 5%;
  right: 6%;

  button {
    border: none;
    background-color: #f1f3f4;
    border: 1px solid rgb(165, 156, 156);
    border-radius: 10%;
    cursor: pointer;
    position: relative;
    display: inline-block;

    &:hover {
      border: 1px solid #54c6ff;
      background-color: #d6d6d6;
    }

    .dropdown_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      background-color: #f1f3f4;
      border-radius: 6px;
      min-width: 250px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 6px 10px;
      z-index: 1;
      cursor: pointer;
      right: 0;
      bottom: 50px;

      input {
        opacity: 0;
      }

      label {
        width: 90%;
        font-size: 1.2em;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10%;
        padding: 10px 10px;

        &:hover {
          cursor: pointer;
          background-color: #d6d6d6;
        }
      }

      a {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        padding: 10px;
        color: black;
        font-size: 1.2em;
        font-weight: bold;
        border-radius: 10%;

        img {
          margin-left: 15px;
        }

        &:hover {
          background-color: #d6d6d6;
        }
      }
    }
  }
}